page-passageiro {
    
    .card-center {
        text-align: center;
    }

    .card-img-left {
        position: relative;
        width: 10rem;
        height: 10rem;
        padding: 15px;
    }

    .card-img-right {
        position: relative;
        width: 10rem;
        height: 10rem;
        padding: 15px;
    }

}
