page-passageiro {
    
    .card-center {
        text-align: center;
        align-content: center;
        text-align: center;
    }

    .card-div-right{
        position: relative;
        float: right;
        align-content: center;
        text-align: center;
    }

    .card-div-left{
        position: relative;
        float: left;
        align-content: center;
        text-align: center;
    }
    
    .card-img-left {
        width: 10rem;
        height: 10rem;
    }

    .card-img-right {
        width: 10rem;
        height: 10rem;
    }

}
