<ion-header>
    <ion-navbar>
        <ion-title>
            Passageiro
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <form name="formPassageiro">

        <ion-item class="card-center">
            <div class="card-div-left">
                <img [src]="fotoTela" name="foto"
                    class="card-img-left" /> <!-- *ngIf="passageiro.foto" /> -->
                <p><button ion-button clear (click)="tiraFoto(1)">Foto Rosto</button></p>
            </div>
            <div class="card-div-right">
                <img [src]="fotoCompletaTela" name="fotoCompleta" 
                    class="card-img-right" /> <!-- *ngIf="passageiro.fotoCompleta" /> -->
                <p><button ion-button clear (click)="tiraFoto(2)">Foto Completa</button></p>
            </div>
        </ion-item>
        <ion-item>
            <ion-label floating>Nome Passageiro</ion-label>
            <ion-input type="text" [(ngModel)]="passageiro.nome" 
                name="nome" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>DDD Telefone Responsável</ion-label>
            <ion-input type="number" [(ngModel)]="passageiro.dddResponsavel" 
                minlenght="2" maxlenght="3" name="dddResponsavel" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Telefone Responsável</ion-label>
            <ion-input type="number" [(ngModel)]="passageiro.telefoneResponsavel" 
                maxlenght="9" minlenght="8" name="telefoneResponsavel" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>EnderecoCasa</ion-label>
            <ion-input type="text" [(ngModel)]="passageiro.enderecoCasa" 
                name="enderecoCasa"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Endereço Escola</ion-label>
            <ion-input type="text" [(ngModel)]="passageiro.enderecoEscola" 
                name="enderecoEscola"></ion-input>
        </ion-item>
        <br><br>
        <button ion-button block color="secondary" (click)="salvaPassageiro()">Salvar Passageiro</button>
    </form>
</ion-content>