<ion-header>
    <ion-navbar>
        <ion-title>
            Em Viagem
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-item-group *ngIf="viagemPassageirosEmbarcados.length > 0">
        <ion-list>
            <ion-list-header style="background-color:navajowhite">
                Passageiros Embarcados
            </ion-list-header>
            <ion-item *ngFor="let viagemPassageiro of viagemPassageirosEmbarcados">
                <ion-avatar item-left>
                    <img src="{{viagemPassageiro.Filho.foto}}">
                </ion-avatar>
                <ion-label>{{viagemPassageiro.Filho.nome}}</ion-label>
                <button ion-button item-right color="danger"
                    (click)="desembarca(viagemPassageiro)">Desembarcar</button>
            </ion-item>
        </ion-list>
    </ion-item-group>
    <ion-item-group *ngIf="viagemPassageirosDesembarcados.length > 0">
        <ion-list>
            <ion-list-header style="background-color:lightcoral">
                Passageiros Desembarcados
            </ion-list-header>
            <ion-item *ngFor="let viagemPassageiro of viagemPassageirosDesembarcados">
                <ion-avatar item-left>
                    <img src="{{viagemPassageiro.Filho.foto}}">
                </ion-avatar>
                <ion-label>{{viagemPassageiro.Filho.nome}}</ion-label>
                <button ion-button item-right color="secondary"
                    (click)="embarca(viagemPassageiro)">Embarcar</button>
            </ion-item>
        </ion-list>
    </ion-item-group>
    <ion-item-group *ngIf="viagemPassageirosEntregues.length > 0">
        <ion-list>
            <ion-list-header style="background-color:yellowgreen">
                Passageiros Entregues
            </ion-list-header>
            <ion-item *ngFor="let viagemPassageiro of viagemPassageirosEntregues">
                <ion-avatar item-left>
                    <ion-img src="{{viagemPassageiro.Filho.foto}}"></ion-img>
                </ion-avatar>
                <ion-label>{{viagemPassageiro.Filho.nome}}</ion-label>
            </ion-item>
        </ion-list>
    </ion-item-group>
    <button ion-button block (click)="finaliza()">Finalizar Viagem</button>
</ion-content>