<ion-header>
    <ion-navbar>
        <ion-title>
            Em Viagem
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-item-group>
        <ion-list>
            <ion-list-header>
                Passageiros Embarcados
            </ion-list-header>
            <ion-item *ngFor="let passageiro of passageirosEmbarcados">
                <ion-avatar item-left>
                    <img src="{{passageiro.foto}}">
                </ion-avatar>
                <ion-label>{{passageiro.nome}}</ion-label>
                <button ion-button item-right color="danger"
                    (click)="desembarca(passageiro)">Desembarcar</button>
            </ion-item>
        </ion-list>
    </ion-item-group>
    <ion-item-group>
        <ion-list>
            <ion-list-header>
                Passageiros Desembarcados
            </ion-list-header>
            <ion-item *ngFor="let passageiro of passageirosDesembarcados">
                <ion-avatar item-left>
                    <img src="{{passageiro.foto}}">
                </ion-avatar>
                <ion-label>{{passageiro.nome}}</ion-label>
                <button ion-button item-right color="secondary"
                    (click)="embarca(passageiro)">Embarcar</button>
            </ion-item>
        </ion-list>
    </ion-item-group>
    <button ion-button block (click)="finaliza()">Finalizar Viagem</button>
</ion-content>